@charset "UTF-8";
/*
* setting
*/
/*
#colors

@default #333
@base #4ac8bb
@foundation #eee

@category-a #b993d4
@category-b #88c1ed
@category-c #f3ad9d
*/
/*
* 変数用scss(カラーコード以外)
*/
/*
* font
*/
/*
* tool
*/
@keyframes parapara-default {
  100% {
    background-position: -3040px 0;
  }
}
@keyframes parapara-small {
  100% {
    background-position: -2280px 0;
  }
}
@keyframes scaling {
  to {
    transform: scale(1.18);
  }
}
@keyframes fadeUp {
  100% {
    opacity: 1;
    transform: translate3d(0, -5px, 0);
  }
}
@keyframes fadeInScaleX {
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
@keyframes scaleIn {
  100% {
    transform: scale(1);
  }
}
@keyframes fadeInSlide {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInSlideSub {
  100% {
    opacity: .2;
    transform: translateX(0);
  }
}
@keyframes fadeContent {
  1% {
    transform: scale(1);
    position: relative;
    opacity: 0;
  }
  100% {
    transform: scale(1);
    position: relative;
    opacity: 1;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/*
* base
*/
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  line-height: 1;
  word-break: break-all;
}

div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  vertical-align: baseline;
  background: transparent;
}

img {
  vertical-align: bottom;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
div,
address,
iframe,
canvas,
hr,
textarea {
  display: block;
  line-height: 1;
}

iframe {
  max-width: 100% !important;
}

img,
embed,
object,
video {
  max-width: 100%;
}

a,
label {
  cursor: pointer;
}

blockquote {
  padding: 0;
  margin: 0;
  display: block;
}

address,
em {
  font-style: normal;
}

hr {
  border: 0;
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

textarea {
  resize: vertical;
  overflow: hidden;
  -webkit-appearance: none;
  border: 0;
}

input,
button,
select {
  vertical-align: middle;
  border-radius: 0;
  border: 0;
  background: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
}

*:before,
*:after {
  padding: 0;
  margin: 0;
  line-height: 1;
}

* {
  box-sizing: border-box;
  font-size: 13px;
  line-height: 1.95;
  letter-spacing: 0.05em;
}

br {
  font-size: 0;
}

::selection {
  background: #ccc;
  color: #fff;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  width: 100%;
}

body {
  font-size: 13px;
  line-height: 1.95;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  background: #f7f7f7;
  color: #333;
  width: 100%;
}

input,
button,
select,
textarea {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

input:focus,
button:focus,
select:focus,
textarea:focus,
a:focus,
div:focus,
aside:focus {
  outline: none;
}

a {
  color: #cc0001;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

.wrapper {
  width: 100%;
}

.for-no-js,
.for-old {
  text-align: center;
  width: 100%;
  background: #000;
  color: #fff;
  height: 40px;
  line-height: 40px;
  z-index: 11;
}

.for-old {
  display: none;
}
.lt-ie9 .for-old {
  display: block;
}

/*
* layout
*/
/*
    さまざまシーンで要素のレイアウトを整える汎用的なクラス
*/
.l-grid .l-grid-inner {
  font-size: 0;
}
.l-grid .l-grid-inner > .l-grid-item {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
}
.l-grid .l-grid-inner > .l-grid-item.l-grid-item-col2 {
  width: 50%;
}
.l-grid .l-grid-inner > .l-grid-item.l-grid-item-col3 {
  width: 33.3333%;
}
.l-grid .l-grid-inner > .l-grid-item.l-grid-item-col4 {
  width: 25%;
}
.l-grid .l-grid-inner > .l-grid-item.l-grid-item-col5 {
  width: 30%;
}
.l-grid .l-grid-inner > .l-grid-item.l-grid-item-col6 {
  width: 16.6666%;
}
.l-grid.l-grid-col2 .l-grid-inner > .l-grid-item {
  width: 50%;
}
.l-grid.l-grid-col3 .l-grid-inner > .l-grid-item {
  width: 33.3333%;
}
.l-grid.l-grid-col4 .l-grid-inner > .l-grid-item {
  width: 25%;
}
.l-grid.l-grid-col5 .l-grid-inner > .l-grid-item {
  width: 20%;
}
.l-grid.l-grid-col6 .l-grid-inner > .l-grid-item {
  width: 16.6666%;
}
.l-grid.l-grid-middle .l-grid-inner > .l-grid-item {
  vertical-align: middle;
}
.l-grid.l-grid-bottom .l-grid-inner > .l-grid-item {
  vertical-align: bottom;
}
.l-grid.l-grid-margin-h1 .l-grid-inner {
  margin-right: -4px;
  margin-left: -4px;
}
.l-grid.l-grid-margin-h1 .l-grid-inner > .l-grid-item {
  padding-right: 4px;
  padding-left: 4px;
}
.l-grid.l-grid-margin-v1 .l-grid-inner {
  margin-top: -4px;
  margin-bottom: -4px;
}
.l-grid.l-grid-margin-v1 .l-grid-inner > .l-grid-item {
  padding-top: 4px;
  padding-bottom: 4px;
}
.l-grid.l-grid-margin-h2 .l-grid-inner {
  margin-right: -8px;
  margin-left: -8px;
}
.l-grid.l-grid-margin-h2 .l-grid-inner > .l-grid-item {
  padding-right: 8px;
  padding-left: 8px;
}
.l-grid.l-grid-margin-v2 .l-grid-inner {
  margin-top: -8px;
  margin-bottom: -8px;
}
.l-grid.l-grid-margin-v2 .l-grid-inner > .l-grid-item {
  padding-top: 8px;
  padding-bottom: 8px;
}
.l-grid.l-grid-margin-h3 .l-grid-inner {
  margin-right: -12px;
  margin-left: -12px;
}
.l-grid.l-grid-margin-h3 .l-grid-inner > .l-grid-item {
  padding-right: 12px;
  padding-left: 12px;
}
.l-grid.l-grid-margin-v3 .l-grid-inner {
  margin-top: -12px;
  margin-bottom: -12px;
}
.l-grid.l-grid-margin-v3 .l-grid-inner > .l-grid-item {
  padding-top: 12px;
  padding-bottom: 12px;
}
.l-grid.l-grid-margin-h4 .l-grid-inner {
  margin-right: -16px;
  margin-left: -16px;
}
.l-grid.l-grid-margin-h4 .l-grid-inner > .l-grid-item {
  padding-right: 16px;
  padding-left: 16px;
}
.l-grid.l-grid-margin-v4 .l-grid-inner {
  margin-top: -16px;
  margin-bottom: -16px;
}
.l-grid.l-grid-margin-v4 .l-grid-inner > .l-grid-item {
  padding-top: 16px;
  padding-bottom: 16px;
}
.l-grid.l-grid-margin-h5 .l-grid-inner {
  margin-right: -20px;
  margin-left: -20px;
}
.l-grid.l-grid-margin-h5 .l-grid-inner > .l-grid-item {
  padding-right: 20px;
  padding-left: 20px;
}
.l-grid.l-grid-margin-v5 .l-grid-inner {
  margin-top: -20px;
  margin-bottom: -20px;
}
.l-grid.l-grid-margin-v5 .l-grid-inner > .l-grid-item {
  padding-top: 20px;
  padding-bottom: 20px;
}
.l-grid.l-grid-margin-h6 .l-grid-inner {
  margin-right: -24px;
  margin-left: -24px;
}
.l-grid.l-grid-margin-h6 .l-grid-inner > .l-grid-item {
  padding-right: 24px;
  padding-left: 24px;
}
.l-grid.l-grid-margin-v6 .l-grid-inner {
  margin-top: -24px;
  margin-bottom: -24px;
}
.l-grid.l-grid-margin-v6 .l-grid-inner > .l-grid-item {
  padding-top: 24px;
  padding-bottom: 24px;
}
.l-grid.l-grid-margin-h7 .l-grid-inner {
  margin-right: -28px;
  margin-left: -28px;
}
.l-grid.l-grid-margin-h7 .l-grid-inner > .l-grid-item {
  padding-right: 28px;
  padding-left: 28px;
}
.l-grid.l-grid-margin-v7 .l-grid-inner {
  margin-top: -28px;
  margin-bottom: -28px;
}
.l-grid.l-grid-margin-v7 .l-grid-inner > .l-grid-item {
  padding-top: 28px;
  padding-bottom: 28px;
}
.l-grid.l-grid-margin-h8 .l-grid-inner {
  margin-right: -32px;
  margin-left: -32px;
}
.l-grid.l-grid-margin-h8 .l-grid-inner > .l-grid-item {
  padding-right: 32px;
  padding-left: 32px;
}
.l-grid.l-grid-margin-v8 .l-grid-inner {
  margin-top: -32px;
  margin-bottom: -32px;
}
.l-grid.l-grid-margin-v8 .l-grid-inner > .l-grid-item {
  padding-top: 32px;
  padding-bottom: 32px;
}
.l-grid.l-grid-margin-h9 .l-grid-inner {
  margin-right: -36px;
  margin-left: -36px;
}
.l-grid.l-grid-margin-h9 .l-grid-inner > .l-grid-item {
  padding-right: 36px;
  padding-left: 36px;
}
.l-grid.l-grid-margin-v9 .l-grid-inner {
  margin-top: -36px;
  margin-bottom: -36px;
}
.l-grid.l-grid-margin-v9 .l-grid-inner > .l-grid-item {
  padding-top: 36px;
  padding-bottom: 36px;
}
.l-grid.l-grid-margin-h10 .l-grid-inner {
  margin-right: -40px;
  margin-left: -40px;
}
.l-grid.l-grid-margin-h10 .l-grid-inner > .l-grid-item {
  padding-right: 40px;
  padding-left: 40px;
}
.l-grid.l-grid-margin-v10 .l-grid-inner {
  margin-top: -40px;
  margin-bottom: -40px;
}
.l-grid.l-grid-margin-v10 .l-grid-inner > .l-grid-item {
  padding-top: 40px;
  padding-bottom: 40px;
}

/*
* module
*/
/*
#styleguide


```
<i class="sprite about-clear"></i>
<i class="sprite blank-gray"></i>
<i class="sprite blank-small"></i>
<i class="sprite blank"></i>
<i class="sprite bowl-clear"></i>
<i class="sprite bowl-small"></i>
<i class="sprite bowl"></i>
<i class="sprite box-clear"></i>
<i class="sprite box-small"></i>
<i class="sprite box"></i>
<i class="sprite contact-clear"></i>
<i class="sprite finance-clear"></i>
<i class="sprite finance-small"></i>
<i class="sprite karaoke-clear"></i>
<i class="sprite karaoke-small"></i>
<i class="sprite karaoke"></i>
<i class="sprite line"></i>
<i class="sprite list"></i>
<i class="sprite local-clear"></i>
<i class="sprite local-small"></i>
<i class="sprite mah-jong-clear"></i>
<i class="sprite mah-jong-small"></i>
<i class="sprite mah-jong"></i>
<i class="sprite mail-magazine-clear"></i>
<i class="sprite mail"></i>
<i class="sprite mark"></i>
<i class="sprite news-clear"></i>
<i class="sprite not-found-clear"></i>
<i class="sprite pachinko-clear"></i>
<i class="sprite pachinko-small"></i>
<i class="sprite pachinko"></i>
<i class="sprite parking-clear"></i>
<i class="sprite parking-small"></i>
<i class="sprite parking"></i>
<i class="sprite pdf"></i>
<i class="sprite philosophy-clear"></i>
<i class="sprite philosophy-small"></i>
<i class="sprite plus"></i>
<i class="sprite privacy-clear"></i>
<i class="sprite profile-clear"></i>
<i class="sprite profile-small"></i>
<i class="sprite quote"></i>
<i class="sprite real-estate-clear"></i>
<i class="sprite real-estate-navi"></i>
<i class="sprite real-estate-small"></i>
<i class="sprite real-estate"></i>
<i class="sprite recruit-clear"></i>
<i class="sprite resource-clear"></i>
<i class="sprite resource-small"></i>
<i class="sprite search-clear"></i>
<i class="sprite service-clear"></i>
<i class="sprite service-parking"></i>
<i class="sprite service-real-estate-clear"></i>
<i class="sprite spa-clear"></i>
<i class="sprite spa-small"></i>
<i class="sprite spa"></i>
```
*/
.sprite {
  display: inline-block;
}
.sprite.sprite-about-clear {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -167px -71px;
  width: 16px;
  height: 16px;
  background-size: 203px 188px;
}
.sprite.sprite-blank-gray {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -189px -143px;
  width: 11px;
  height: 11px;
  background-size: 203px 188px;
}
.sprite.sprite-blank-small {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -189px -155px;
  width: 11px;
  height: 11px;
  background-size: 203px 188px;
}
.sprite.sprite-blank {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -134px -139px;
  width: 15px;
  height: 15px;
  background-size: 203px 188px;
}
.sprite.sprite-bowl-clear {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -167px -121px;
  width: 15px;
  height: 16px;
  background-size: 203px 188px;
}
.sprite.sprite-bowl-small {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: 0px -139px;
  width: 25px;
  height: 26px;
  background-size: 203px 188px;
}
.sprite.sprite-bowl {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -93px -34px;
  width: 34px;
  height: 35px;
  background-size: 203px 188px;
}
.sprite.sprite-box-clear {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -40px -166px;
  width: 16px;
  height: 14px;
  background-size: 203px 188px;
}
.sprite.sprite-box-small {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -133px -33px;
  width: 30px;
  height: 26px;
  background-size: 203px 188px;
}
.sprite.sprite-box {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -47px 0px;
  width: 45px;
  height: 39px;
  background-size: 203px 188px;
}
.sprite.sprite-contact-clear {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -74px -166px;
  width: 15px;
  height: 14px;
  background-size: 203px 188px;
}
.sprite.sprite-finance-clear {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -189px -30px;
  width: 13px;
  height: 14px;
  background-size: 203px 188px;
}
.sprite.sprite-finance-small {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -26px -139px;
  width: 24px;
  height: 26px;
  background-size: 203px 188px;
}
.sprite.sprite-karaoke-clear {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -23px -166px;
  width: 16px;
  height: 14px;
  background-size: 203px 188px;
}
.sprite.sprite-karaoke-small {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -51px -139px;
  width: 24px;
  height: 22px;
  background-size: 203px 188px;
}
.sprite.sprite-karaoke {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: 0px -108px;
  width: 34px;
  height: 30px;
  background-size: 203px 188px;
}
.sprite.sprite-line {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -167px -51px;
  width: 20px;
  height: 19px;
  background-size: 203px 188px;
}
.sprite.sprite-list {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -189px -133px;
  width: 14px;
  height: 9px;
  background-size: 203px 188px;
}
.sprite.sprite-local-clear {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -189px -15px;
  width: 14px;
  height: 14px;
  background-size: 203px 188px;
}
.sprite.sprite-local-small {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -35px -108px;
  width: 26px;
  height: 26px;
  background-size: 203px 188px;
}
.sprite.sprite-mah-jong-clear {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -140px -166px;
  width: 16px;
  height: 12px;
  background-size: 203px 188px;
}
.sprite.sprite-mah-jong-small {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -133px -86px;
  width: 28px;
  height: 20px;
  background-size: 203px 188px;
}
.sprite.sprite-mah-jong {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -47px -76px;
  width: 42px;
  height: 30px;
  background-size: 203px 188px;
}
.sprite.sprite-mail-magazine-clear {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -189px -122px;
  width: 14px;
  height: 10px;
  background-size: 203px 188px;
}
.sprite.sprite-mail {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -167px -138px;
  width: 18px;
  height: 13px;
  background-size: 203px 188px;
}
.sprite.sprite-mark {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 46px;
  height: 107px;
  background-size: 203px 188px;
}
.sprite.sprite-news-clear {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -157px -166px;
  width: 15px;
  height: 11px;
  background-size: 203px 188px;
}
.sprite.sprite-not-found-clear {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -145px -108px;
  width: 15px;
  height: 15px;
  background-size: 203px 188px;
}
.sprite.sprite-pachinko-clear {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -167px -105px;
  width: 16px;
  height: 15px;
  background-size: 203px 188px;
}
.sprite.sprite-pachinko-small {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -90px -108px;
  width: 27px;
  height: 23px;
  background-size: 203px 188px;
}
.sprite.sprite-pachinko {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -47px -40px;
  width: 40px;
  height: 35px;
  background-size: 203px 188px;
}
.sprite.sprite-parking-clear {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -102px -139px;
  width: 15px;
  height: 15px;
  background-size: 203px 188px;
}
.sprite.sprite-parking-small {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: 0px -166px;
  width: 22px;
  height: 22px;
  background-size: 203px 188px;
}
.sprite.sprite-parking {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -93px -70px;
  width: 34px;
  height: 34px;
  background-size: 203px 188px;
}
.sprite.sprite-pdf {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -189px -107px;
  width: 11px;
  height: 14px;
  background-size: 203px 188px;
}
.sprite.sprite-philosophy-clear {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -189px -59px;
  width: 11px;
  height: 16px;
  background-size: 203px 188px;
}
.sprite.sprite-philosophy-small {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -167px -26px;
  width: 17px;
  height: 24px;
  background-size: 203px 188px;
}
.sprite.sprite-plus {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -189px 0px;
  width: 14px;
  height: 14px;
  background-size: 203px 188px;
}
.sprite.sprite-privacy-clear {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -189px -76px;
  width: 11px;
  height: 15px;
  background-size: 203px 188px;
}
.sprite.sprite-profile-clear {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -189px -92px;
  width: 11px;
  height: 14px;
  background-size: 203px 188px;
}
.sprite.sprite-profile-small {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -167px 0px;
  width: 21px;
  height: 25px;
  background-size: 203px 188px;
}
.sprite.sprite-quote {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -189px -45px;
  width: 14px;
  height: 13px;
  background-size: 203px 188px;
}
.sprite.sprite-real-estate-clear {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -123px -166px;
  width: 16px;
  height: 12.5px;
  background-size: 203px 188px;
}
.sprite.sprite-real-estate-navi {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -76px -139px;
  width: 25px;
  height: 20px;
  background-size: 203px 188px;
}
.sprite.sprite-real-estate-small {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -118px -108px;
  width: 26px;
  height: 22px;
  background-size: 203px 188px;
}
.sprite.sprite-real-estate {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -93px 0px;
  width: 39px;
  height: 33px;
  background-size: 203px 188px;
}
.sprite.sprite-recruit-clear {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -167px -152px;
  width: 16px;
  height: 13px;
  background-size: 203px 188px;
}
.sprite.sprite-resource-clear {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -106px -166px;
  width: 16px;
  height: 13px;
  background-size: 203px 188px;
}
.sprite.sprite-resource-small {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -133px -60px;
  width: 30px;
  height: 25px;
  background-size: 203px 188px;
}
.sprite.sprite-search-clear {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -118px -139px;
  width: 15px;
  height: 15px;
  background-size: 203px 188px;
}
.sprite.sprite-service-clear {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -167px -88px;
  width: 16px;
  height: 16px;
  background-size: 203px 188px;
}
.sprite.sprite-service-parking {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -150px -139px;
  width: 15px;
  height: 15px;
  background-size: 203px 188px;
}
.sprite.sprite-service-real-estate-clear {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -57px -166px;
  width: 16px;
  height: 14px;
  background-size: 203px 188px;
}
.sprite.sprite-spa-clear {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -90px -166px;
  width: 15px;
  height: 14px;
  background-size: 203px 188px;
}
.sprite.sprite-spa-small {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -62px -108px;
  width: 27px;
  height: 25px;
  background-size: 203px 188px;
}
.sprite.sprite-spa {
  background-image: url(../image/sprite/dest/sprite.png);
  background-repeat: no-repeat;
  background-position: -133px 0px;
  width: 33px;
  height: 32px;
  background-size: 203px 188px;
}

.wp-pagenavi {
  text-align: center;
  font-size: 0;
  position: relative;
}
.wp-pagenavi > a,
.wp-pagenavi > span {
  display: inline-block;
  vertical-align: top;
  border-radius: 2px;
  background-color: #fff;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  letter-spacing: .15em;
  text-decoration: none;
  color: #666666;
  border: 1px solid #ccc;
  margin: 0 2px;
  font-size: 13px;
}
.wp-pagenavi > span.current {
  border-color: #cc0001;
  color: #cc0001;
}
.wp-pagenavi > span.page {
  border: none;
  width: 22px;
}
.wp-pagenavi > a.nextpostslink, .wp-pagenavi > a.prevpostslink {
  background-color: #cc0001;
  border-color: #cc0001;
  color: #fff;
}
.wp-pagenavi > a.nextpostslink:hover, .wp-pagenavi > a.prevpostslink:hover {
  background-color: #cc0001;
  border-color: #cc0001;
}
.wp-pagenavi > a.nextpostslink[disabled], .wp-pagenavi > a.prevpostslink[disabled] {
  opacity: .5;
  cursor: default;
}
.wp-pagenavi > a.nextpostslink[disabled]:hover, .wp-pagenavi > a.prevpostslink[disabled]:hover {
  background-color: #7d0000;
  border-color: #7d0000;
}
.wp-pagenavi .arrow-reverse {
  position: relative;
  top: 0;
  left: -3px;
}
.wp-pagenavi .arrow {
  position: relative;
  top: 0;
  right: -3px;
}

/*
* utility
*/
.m-top1 {
  margin-top: 4px;
}

.m-right1 {
  margin-right: 4px;
}

.m-bottom1 {
  margin-bottom: 4px;
}

.m-left1 {
  margin-left: 4px;
}

.m-top2 {
  margin-top: 8px;
}

.m-right2 {
  margin-right: 8px;
}

.m-bottom2 {
  margin-bottom: 8px;
}

.m-left2 {
  margin-left: 8px;
}

.m-top3 {
  margin-top: 12px;
}

.m-right3 {
  margin-right: 12px;
}

.m-bottom3 {
  margin-bottom: 12px;
}

.m-left3 {
  margin-left: 12px;
}

.m-top4 {
  margin-top: 16px;
}

.m-right4 {
  margin-right: 16px;
}

.m-bottom4 {
  margin-bottom: 16px;
}

.m-left4 {
  margin-left: 16px;
}

.m-top5 {
  margin-top: 20px;
}

.m-right5 {
  margin-right: 20px;
}

.m-bottom5 {
  margin-bottom: 20px;
}

.m-left5 {
  margin-left: 20px;
}

.m-top6 {
  margin-top: 24px;
}

.m-right6 {
  margin-right: 24px;
}

.m-bottom6 {
  margin-bottom: 24px;
}

.m-left6 {
  margin-left: 24px;
}

.m-top7 {
  margin-top: 28px;
}

.m-right7 {
  margin-right: 28px;
}

.m-bottom7 {
  margin-bottom: 28px;
}

.m-left7 {
  margin-left: 28px;
}

.m-top8 {
  margin-top: 32px;
}

.m-right8 {
  margin-right: 32px;
}

.m-bottom8 {
  margin-bottom: 32px;
}

.m-left8 {
  margin-left: 32px;
}

.m-top9 {
  margin-top: 36px;
}

.m-right9 {
  margin-right: 36px;
}

.m-bottom9 {
  margin-bottom: 36px;
}

.m-left9 {
  margin-left: 36px;
}

.m-top10 {
  margin-top: 40px;
}

.m-right10 {
  margin-right: 40px;
}

.m-bottom10 {
  margin-bottom: 40px;
}

.m-left10 {
  margin-left: 40px;
}

.m-top11 {
  margin-top: 44px;
}

.m-right11 {
  margin-right: 44px;
}

.m-bottom11 {
  margin-bottom: 44px;
}

.m-left11 {
  margin-left: 44px;
}

.m-top12 {
  margin-top: 48px;
}

.m-right12 {
  margin-right: 48px;
}

.m-bottom12 {
  margin-bottom: 48px;
}

.m-left12 {
  margin-left: 48px;
}

.m-top13 {
  margin-top: 52px;
}

.m-right13 {
  margin-right: 52px;
}

.m-bottom13 {
  margin-bottom: 52px;
}

.m-left13 {
  margin-left: 52px;
}

.m-top14 {
  margin-top: 56px;
}

.m-right14 {
  margin-right: 56px;
}

.m-bottom14 {
  margin-bottom: 56px;
}

.m-left14 {
  margin-left: 56px;
}

.m-top15 {
  margin-top: 60px;
}

.m-right15 {
  margin-right: 60px;
}

.m-bottom15 {
  margin-bottom: 60px;
}

.m-left15 {
  margin-left: 60px;
}

.m-top16 {
  margin-top: 64px;
}

.m-right16 {
  margin-right: 64px;
}

.m-bottom16 {
  margin-bottom: 64px;
}

.m-left16 {
  margin-left: 64px;
}

.m-top17 {
  margin-top: 68px;
}

.m-right17 {
  margin-right: 68px;
}

.m-bottom17 {
  margin-bottom: 68px;
}

.m-left17 {
  margin-left: 68px;
}

.m-top18 {
  margin-top: 72px;
}

.m-right18 {
  margin-right: 72px;
}

.m-bottom18 {
  margin-bottom: 72px;
}

.m-left18 {
  margin-left: 72px;
}

.m-top19 {
  margin-top: 76px;
}

.m-right19 {
  margin-right: 76px;
}

.m-bottom19 {
  margin-bottom: 76px;
}

.m-left19 {
  margin-left: 76px;
}

.m-top20 {
  margin-top: 80px;
}

.m-right20 {
  margin-right: 80px;
}

.m-bottom20 {
  margin-bottom: 80px;
}

.m-left20 {
  margin-left: 80px;
}

/*
* library
*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
