/*
#colors

@default #333
@base #4ac8bb
@foundation #eee

@category-a #b993d4
@category-b #88c1ed
@category-c #f3ad9d
*/

$color-default: #333;
$color-strong: #191919;
$color-foundation: #f7f7f7;
$color-foundation-light: #f2f2f2;
$color-navi-border: #242424;

$color-main: #cc0001;
$color-sub: #7d0000;
$color-border: #ccc;
$color-border-light: #e5e5e5;
$color-gray: #999;
$color-dark: #666666;
$color-ash: #4c4c4c;
$color-error: #d7001d;
$color-line: #3bb63b;
$color-facebook: #3b5998;
$color-twitter: #53adeb;
$color-instagram: #38658c;